.search-tickets {
  position: absolute;
  z-index: 10;
  top: 419px;
  left: 958px;
  width: 759px;
  height: 566px;
  background-color: #292929;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  opacity: 0.8;
}

.search-tickets__form {
  margin-top: 79px;
  margin-left: 21px;
  width: 684px;
}

.search-tickets__form-block {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.search-tickets__form-block_direction {
  margin-bottom: 61px;
}

.search-tickets__form-block_date {
  margin-bottom: 92px;
}

.search-tickets__form-input {
  width: 322px;
  height: 60px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 21px;
}

.search-tickets__form-input::placeholder {
  color: #E5E5E5;
}

.search-tickets__form-btn-box {
  display: flex;
  justify-content: flex-end;
}

.search-tickets__form-btn {
  width: 323px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  background-color: #FFA800;
}

.search-tickets__form-btn:active {
  background-color: #fff;
  color: #FFA800;
  border: 1px solid #FFA800;
}

/* переопределение стилей библиотеки календаря */

.date-picker__calendar {
  width: 322px; 
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__day {
  width: 2.3rem !important;
}

.react-datepicker__day--selected {
  background-color: #FFA800 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #FFA800 !important;
}