.sidebar {
  width: 364px;
}

.last-tickets {
  margin-top: 94px;
}

.last-tickets__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 26px;
}

.last-ticket {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  height: 161px;
  box-sizing: border-box;
}

.last-ticket__cities {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 17px 17px 0 17px;
}

.last-ticket__stations {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #928F94;
  margin: 0 17px;
}

.last-ticket__station {
  width: 110px;
}

.last-ticket__station:last-child {
  text-align: end;
}

.last-ticket__info {
  display: flex;
  justify-content: space-between;
  margin: 30px 11px 0 17px;
}

.last-ticket__from {
  font-size: 16px;
  color: #928F94;
}

.last-ticket__price {
  font-size: 36px;
  font-weight: 700;
  color: #FFA800;
}

.last-ticket__currency {
  font-size: 36px;
  font-weight: 250;
  color: #928F94;
}