.reviews {
  margin: 152px 254px 0 254px;
}

.reviews-title {
  font-size: 36px;
}

.reviews-box {
  display: flex;
  justify-content: space-between;
}

.review {
  display: flex;
  margin-top: 78px;
}

.review-description {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 35px;
}

.review-description-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.review-description-text {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #928F94;
}

.quotes {
  position: absolute;
}

.quotes-left {
  left: -15px;
  top: -5px;
}

.quotes-right {
  bottom: -5px;
}

/* переопределение стилей библиотеки карусели
   использовал important, т.к. ничего лучше не придумал
*/
.slick-dots {
  bottom: -134px !important;
}

.slick-dots li button:before {
  font-size: 19px !important;
}