.header {
  height: 977px;
  color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo__link {
  margin-left: 258px;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #292929;
  height: 94px;
}

.navigation__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 1086px;
  padding: 0;
  margin-left: 258px;
}

.navigation__elem-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 30px;
}