.search-tickets-form__box {
  align-self: flex-end;
  width: 39.6%;
  height: 566px;
  background-color: #292929;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 12.1%;
  z-index: 10;
}

.search-tickets-form {
  margin-top: 79px;
  margin-left: 21px;
  width: 90%;
}

.search-tickets-form__inputs-box {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.search-tickets-form__inputs-box_direction {
  margin-bottom: 61px;
}

.search-tickets-form__inputs-box_date {
  margin-bottom: 92px;
}

.search-tickets-form__input {
  width: 322px;
  height: 60px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 21px;
}

.search-tickets-form__input::placeholder {
  color: #E5E5E5;
}

.search-tickets-form__btn-box {
  display: flex;
  justify-content: flex-end;
}

.search-tickets-form__btn {
  width: 323px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  background-color: #FFA800;
}

.search-tickets-form__btn:active {
  background-color: #fff;
  color: #FFA800;
  border: 1px solid #FFA800;
}

/* переопределение стилей библиотеки календаря */

.date-picker__calendar {
  width: 322px; 
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__day {
  width: 2.3rem !important;
}

.react-datepicker__day--selected {
  background-color: #FFA800 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #FFA800 !important;
}