.train-list {
  width: 959px;
  margin-left: 83px;
}

.train-list__info-box {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  color: #928F94;
}

.train-list__pagination-box {
  display: flex;
  justify-content: end;
  margin-top: 142px;
}