.cities-select__title {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 22px 0;
}

.cities-select__inputs-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cities-select__input {
  width: 322px;
  height: 60px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 21px;
}

.cities-select__input::placeholder {
  color: #E5E5E5;
}

.cities-select__swap-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}